    body {
        margin: 0;
        padding: 0;
    }
    #linkir {
        transition: .2s;
        text-decoration: none;
        color: #2B2D42;
    }
    #linkir:hover {
        color: #CC7E85;
    }
    #linkir:visited {
        text-decoration: none;
    }

    .centro {
        text-align: center;
        border-radius: 100px;
        background-color: lightpink;
        margin-left: 700px;
        margin-right: 700px;
    }

    h4 {
        border: solid 4px blueviolet;
        background-color: lightgrey;
        border-radius: 5px;
    }

    #h1title{
        font-family: 'Courier New', Courier, monospace;
    }
    
    #linkvoltar {
        transition: .2s;
        text-decoration: none;
        color: #2B2D42;
    }
    #linkvoltar:hover {
        color: #CC7E85;
    }
    #linkvoltar:visited {
        text-decoration: none;
    }
    #linkvoltarq {
        transition: .2s;
        text-decoration: none;
        color: orange;
    }
    #linkvoltarq:hover {
        color: darkred;
    }
    #linkvoltarq:visited {
        text-decoration: none;
    }
    #linkvoltarp {
        transition: .2s;
        text-decoration: none;
        color: indigo;
    }
    #linkvoltarp:hover {
        color: black;
    }
    #linkvoltarp:visited {
        text-decoration: none;
    }
    #estesite {
        transition: .2s;
        text-decoration: none;
        color: crimson;
    }
    #estesite:hover {
        color: black;
    }
    #estesite:visited {
        text-decoration: none;
    }
    .big {
        height: 10px;
        width: 100px;
    }
    .quadrado {
        height: 100px;
        width: 100px;
        background-color: pink;
    }
    .left {
        padding-left: 200px;
        float: right;
    }
    .quadro {
        padding: 20px;
        border: solid 2px black;
        text-align: center;
        height: 270px;
        width: 480px;
        margin-top: 8px;
        margin-left: 2px;
        margin-right: 2px;
    }

    .paleta {
        display: inline;
        padding:0px;
    }

    .pimg {
        height: 200px;
        width: 50px;
        border: solid 2px black; 
        text-shadow: 1px 1px 0px grey;
    }
    
    .centrop {
        display: inline-block;
        width: 1000px;
        margin: auto 0;
        font-family: 'Courier New', Courier, monospace;
    }

    .centrotxt {
        align-self: inherit;
        text-align: center;
        margin-left: 700px;
        margin-right: 700px;
    }

    #color1 {
        background-color: #FFAC81;
        padding: 12.5px 25px 12.5px 25px;
    }

    /* display: inline-block; */
    /* text-align: center; */
    /* margin-left: 735PX; */
    /* margin-right: 2px; */