    body {
        margin: 0;
        padding: 0;
    }
    #linkir {
        transition: .2s;
        text-decoration: none;
        color: #2B2D42;
    }
    #linkir:hover {
        color: #CC7E85;
    }
    #linkir:visited {
        text-decoration: none;
    }

    .centro {
        text-align: center;
        border-radius: 100px;
        background-color: lightpink;
        margin-left: 700px;
        margin-right: 700px;
    }

    h4 {
        border: solid 4px blueviolet;
        background-color: lightgrey;
        border-radius: 5px;
    }

    #h1title{
        font-family: 'Courier New', Courier, monospace;
    }
    
    #linkvoltar {
        transition: .2s;
        text-decoration: none;
        color: #2B2D42;
    }
    #linkvoltar:hover {
        color: #CC7E85;
    }
    #linkvoltar:visited {
        text-decoration: none;
    }
    #linkvoltarq {
        transition: .2s;
        text-decoration: none;
        color: orange;
    }
    #linkvoltarq:hover {
        color: darkred;
    }
    #linkvoltarq:visited {
        text-decoration: none;
    }
    #linkvoltarp {
        transition: .2s;
        text-decoration: none;
        color: indigo;
    }
    #linkvoltarp:hover {
        color: black;
    }
    #linkvoltarp:visited {
        text-decoration: none;
    }
    #estesite {
        transition: .2s;
        text-decoration: none;
        color: crimson;
    }
    #estesite:hover {
        color: black;
    }
    #estesite:visited {
        text-decoration: none;
    }
    .big {
        height: 10px;
        width: 100px;
    }
    .quadrado {
        height: 100px;
        width: 100px;
        background-color: pink;
    }
    .left {
        padding-left: 200px;
        float: right;
    }
    .quadro {
        padding: 20px;
        border: solid 2px black;
        text-align: center;
        height: 270px;
        width: 480px;
        margin-top: 8px;
        margin-left: 2px;
        margin-right: 2px;
    }

    .paleta {
        display: inline;
        padding:0px;
    }

    .pimg {
        height: 200px;
        width: 50px;
        border: solid 2px black; 
        display: inline-block;
    }
    
    .centrop {
        width: 1000px;
        margin: auto;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
    }

    .centrotxt {
        align-self: inherit;
        text-align: center;
        margin-left: 700px;
        margin-right: 700px;
    }

    #color1 {
        background: linear-gradient(90deg, #FFAC81, #FF928B, #FEC3A6, #EFE9AE, #CDEAC0);
        padding: 12.5px 25px 12.5px 25px;
    }

    #color2 {
        background: linear-gradient(90deg, #DDFFD9, #ECC8AE, #D7907B, #6C4B5E, #B3679B);
        padding: 12.5px 25px 12.5px 25px;
    }

    #color3 {
        background: linear-gradient(90deg, #87BCDE, #805E73, #4E4D5C, #2D4654, #243B4A);
        padding: 12.5px 25px 12.5px 25px;
    }

    #color4 {
        background: linear-gradient(90deg, #132A13, #31572C, #4F772D, #90A955, #ECF39E);
        padding: 12.5px 25px 12.5px 25px;
    }
